* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(247, 109, 45);
}

.post-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  background-color: rgb(252, 187, 118);
  border: 1px solid black;
  margin: 2rem;
  padding: 1rem;
}

.post-card > p {
  align-self: flex-end;
}